EXPO_PUBLIC_SUPABASE_URL=https://rcvzcbfmstgwzrolnhvy.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJjdnpjYmZtc3Rnd3pyb2xuaHZ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUxNzkxNTAsImV4cCI6MjA5MDc1NTE1MH0.KGPnAO2cuRn4O4elMtkqqBSHVMuo4clRhvP-pgc9nEk
